@font-face {
    font-family: 'Slackey';
    src: url('assets/fonts/Slackey-Regular.ttf') format('truetype');
}
:root{
    --dark-mode: #eee;
}
[data-tema="claro"]{
    --bg: #eeeeee;
    --text: #333333;
    --dec: #c0fc0f;
}
[data-tema="escuro"]{
    --bg: #333333;
    --text: #eeeeee;
    --dec: #ff7f90;
}
.teste{
    stroke: var(--text);
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
    position: relative;
    width: 100%;
    height: fit-content;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    &>#logotipo>span{font-family: "Slackey", sans-serif;}
}
/*  */
footer{
    display: flex;
    flex-flow: row wrap;
}
#contato{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
